@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: #F3E600;
  font-family: 'Roboto', sans-serif;
}

.task-bar {
  background-color: black;
  color: white;
  padding: .2rem;
  border-radius: .27rem;

}

.task-input {
  font-style: italic;
  font-size: .7rem;
  background-color: black; 
  color: white;
  padding: .2rem;
  margin: .3rem;
  border: 1px white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

ul {
  list-style: none;
}

.task-container {
  border: none;
  background: #FFFF39;
  border-radius: .27rem;
  padding: .3rem;
  margin: .3rem;
  height: 1.7rem;
  width: 21rem;
  position: relative;
}

.activeTasks {
  border: solid 1px;
  border-radius: .27rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: .7rem;   
  height: 1.7rem;
  display: flex;
  align-items: center;
  padding-left: .7rem;
  margin-bottom: .5rem;
}
.taskNumber,
.taskId,
.taskLabel,
.taskDate,
.iconUp,
.iconDown,
.deleteIcon,
.tag {
  top: 7px;
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
  position: absolute;
}

.taskNumber {
  left: 5px;
  font-size: .5rem;
  font-style: italic;
}

.taskId {
  left: 23px;
  font-style: italic;
  font-size: .5rem;
}

.taskDate {
  left: 78px;
  font-style: italic;
  font-size: .5rem;
}

.taskLabel {
  left: 125px;
  font-size: .9ren;
}

.tag {
  left: 246px;
  border-radius: 1px;
  color: #F3E600;
  padding: 1px;
  font-size: .45rem;
}

.iconUp {
  left: 285px;
}

.iconDown {
  left: 300px;
}

.deleteIcon {
  left: 315px;
}

.Crucial {
  background: red;
}

.Important {
  background: yellow;
}

.Minor {
  background: green;
}

.addTask:hover {
  transform: scale(2); 
  fill: green;
  transition: all 0.3s ease-in-out;
}

.iconUp:hover, .iconDown:hover {
  transform: scale(1.2); 
  fill: green;
  transition: all 0.3s ease-in-out;
}

.deleteIcon:hover {
  transform: scale(1.2); 
  fill: red;
  transition: all 0.3s ease-in-out;
}
